.page-home {
  .page-wrapper {
    height: 100%;
    min-height: 3200px;
    width: 950px;
    background: transparent url('/Assets/images/image-2.jpg') no-repeat top left;
    background-size: contain;
    position: relative;

    &:before {
      content: '';
      background: transparent url('/Assets/images/image-1.jpg') no-repeat top left;
      background-size: contain;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
    }

    &.showing-popup {
      &:before {
        opacity: 0;
      }
    }
  }

  .popup {
    @include transition(all .5s ease-in);
    opacity: 1;
    position: absolute;
    top: 1475px;
    left: 225px;
    width: 700px;
    height: 550px;
  }

  .popup-inner {
  	position: relative;
  	background: #FFF;
  	border: 2px solid #AAA;
    padding: $padding-lg;
    border-radius: 6px;
  }
  .popup-inner:after, .popup-inner:before {
  	right: 100%;
  	top: 50%;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  }

  .popup-inner:after {
  	border-color: transparent;
  	border-right-color: #FFF;
  	border-width: 30px;
  	margin-top: -30px;
  }
  .popup-inner:before {
  	border-color: transparent;
  	border-right-color: #AAA;
  	border-width: 33px;
  	margin-top: -33px;
  }
}
