.page-inner {
  min-height: 400px;
  background-color: #EEE;
  padding-bottom: $padding-lg;
}
.page-wrapper {
  height: 100%;
}
.page-body {
  overflow: hidden;
}

.page-inner {
  padding: $padding-xxl $padding-lg;
  width: 550px;

  .noUi-value {
    font-size: .7em;
  }
  .noUi-connect {
    background-color: transparent;
  }
  .noUi-origin {
    z-index: 3;
  }
  .noUi-origin.noUi-background {
    background-color: transparent;
  }
  .noUi-target {
    box-shadow: none;
    border-color: #BBB;
  }
  .noUi-target.noUi-background {
    background-image: -webkit-linear-gradient(left, #8bc34a, #ffab91, #d84315); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(left, #8bc34a, #ffab91, #d84315); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(left, #8bc34a, #ffab91, #d84315); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(left, #8bc34a, #ffab91, #d84315); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(to right, #8bc34a, #ffab91, #d84315); /* Standard syntax; must be last */
  }
  .noUi-horizontal .noUi-handle-upper .noUi-tooltip,
  .noUi-horizontal .noUi-handle-lower .noUi-tooltip {
    top: -40px;
    bottom: auto;
  }

  /* Position the bar and color it. */
  .connect {
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	background: #42A5F5;
  	box-shadow: inset 0 0 3px rgba(51,51,51,0.45);
    z-index: 2;
  }

  /* When the slider is moved by tap, transition the connect bar like the handle. */
  .noUi-state-tap .connect {
    -webkit-transition: left 300ms, right 300ms;
    transition: left 300ms, right 300ms;
  }

  .noUi-tooltip {
    display: none;
  }
  .noUi-active, .noUi-state-drag, .noUi-state-tap {
    .noUi-tooltip {
      display: block;
    }
  }
  .restriction {
    font-weight: bold;
    color: green;
  }
  .restriction-marker {
    height: 42px;
    top: -16px;
    background-color: green;

    &:after {
      content: '';
      position: absolute;
      bottom: -40px;
      left: -10px;
      width: 20px;
      height: 20px;
      background-image: url('/Assets/images/p_plates.png');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      display: block;
    }
  }
}

.page-header {
  ul {
    @include no-bullet-list;
    @extend .clearfix;
    color: $white;
    font-size: 2.4em;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    top: $padding-md;
    right: $padding-sm;

    @include media-query(md) {
      top: $padding-lg;
      right: $padding-lg;
    }
  }

  li {
    float: left;
    margin: 0 0 0 10px;
    position: relative;

    a {
      @include hide-text;
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .icon-bell-o {
    margin-top: -2px;
    &:before {
      font-size: .8em;
    }
  }
}
.logo {
  a {
    @include image-replace("/Assets/images/logo.png");
    width: 249px;
    height: 77px;

    @include media-query(xs, true) {
      width: 170px;
      background-size: contain;
    }
  }
}
