.slider-container {
  padding-top: $padding-md;
  padding-bottom: $padding-xxxl;

  .noUi-value {
    font-size: .7em;
  }
  .noUi-connect {
    background-color: transparent;
    box-shadow: none;
  }
  .noUi-origin {
    z-index: 3;
    border-radius: 0;
  }
  .noUi-background {
    box-shadow: none;
  }
  .noUi-origin.noUi-background {
    background-color: transparent;
  }
  .noUi-target {
    box-shadow: none;
    border-color: #BBB;
    border-radius: 0;
  }
  .noUi-handle {
    box-shadow: none;
  }
  .noUi-target.noUi-background {
    background-image: -webkit-linear-gradient(left, #8bc34a, #ffab91, #d84315); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(left, #8bc34a, #ffab91, #d84315); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(left, #8bc34a, #ffab91, #d84315); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(left, #8bc34a, #ffab91, #d84315); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(to right, #8bc34a, #ffab91, #d84315); /* Standard syntax; must be last */
  }
  .noUi-horizontal .noUi-handle-upper .noUi-tooltip,
  .noUi-horizontal .noUi-handle-lower .noUi-tooltip {
    top: -32px;
    bottom: auto;
  }

  /* Position the bar and color it. */
  .connect {
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	background: #42A5F5;
  	// box-shadow: inset 0 0 3px rgba(51,51,51,0.45);
    z-index: 2;
  }

  /* When the slider is moved by tap, transition the connect bar like the handle. */
  .noUi-state-tap .connect {
    -webkit-transition: left 300ms, right 300ms;
    transition: left 300ms, right 300ms;
  }

  .noUi-tooltip {
    font-weight: bold;
    background-color: transparent;
    border: 0;
  }
  // .noUi-active, .noUi-state-drag, .noUi-state-tap {
  //   .noUi-tooltip {
  //     display: block;
  //   }
  // }
  .restriction {
    font-weight: bold;
    color: green;
  }
  .restriction-marker {
    height: 42px;
    top: -16px;
    background-color: green;

    &:after {
      content: '';
      position: absolute;
      bottom: -40px;
      left: -10px;
      width: 20px;
      height: 20px;
      background-image: url('/Assets/images/p_plates.png');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      display: block;
    }
  }
}

.popup-content {
  .column {
    float: left;
    width: 50%;
    h4 {
      margin: 5px 0 5px;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      height: 70px;

      &.is-loading {
        background: transparent url('/Assets/images/ajax-loader-small.gif') no-repeat top left;
      }
    }
  }
  .column-container {
    @include clearfix;

    a:hover {
      color: #004F88;
    }
  }
  .slider-details {
    margin: 30px 0 0;
  }
  .btn-submit {
    color: #FFF;
    padding: 5px 15px;
    background-color: #004F88;
    border: 0;
    font-size: .9em;
    float: right;
  }
  .footnote {
    border: 1px solid #ccc;
    background-color: #EEE;
    padding: 10px;
    margin: 20px 0 0;

    h5 {
      margin: 0 0 10px;
    }
    p {
      font-size: .85em;
      margin: 0 0 5px;
    }
  }
}
